@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
    font-size: small;
}

li {
    list-style-type: none;
    padding: 0.5rem;
    filter: brightness(0) invert(1);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #107ce0f6;
    grid-row: 1 / 3;
    color: white;
    font-size: medium;
}

.sidebar a {
    color: white;
    font-weight: bold;
    text-decoration: none;  
}

.sidebar_options {
    margin-bottom: 3rem;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 3fr 1fr;
}

.search_div {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.search_div>img {
    padding-right: 10px;
}

#searchbar {
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    width: 500px;
    outline-width: 0;
    padding: 5px;
}

.sub_header_top_right {
    display: grid;
    grid-template-columns: 75px 75px 125px;
    align-self: center;
    justify-self: center;
}

.sub_header_bottom_left {
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 25px 25px;
}

.sub_header_bottom_left>a {
    grid-column: 1;
    grid-row: 1 / 2;
}

.sub_header_bottom_left>p {
    grid-column: 2;
    grid-row: 1;
}

.sub_header_buttons {
    align-self: center;
    justify-self: center;
}

.header_button {
    border-radius: 16px;
    border: none;
    background-color: #107ce0f6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.header_button:hover {
    background-color: #76a9daf6;
}

.main {
    grid-column: 2 / 3;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.5fr 5fr;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
}


.cards {
    display: grid;
    grid-template-rows: 1fr 0.25fr;
    grid-template-columns: 5% 95%;
    border-radius: 10px;
    background-color: white;
    margin-left: 50px;
    padding-right: 35px;
}

.card_words {
    grid-column: 2;
}

.yellow {
    background-color: rgb(241, 241, 60);
    grid-row: 1 / 3;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card_pics {
    grid-column: 2;
    display: flex;
    align-content: end;
    justify-content: end;
    padding-bottom: 20px;
}

.card_pics>a {
    padding: 5px;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.trending {
    grid-column: 2;
    grid-row: 2;
}


/* for pics next to sidebar links */
.home {
    list-style-image: url(./img/home.png);
}

.profile {
    list-style-image: url(./img/resume.png);
}

.messages {
    list-style-image: url(./img/message.png);
}

.history {
    list-style-image: url(./img/history.png);
}

.tasks {
    list-style-image: url(./img/clipboard.png);
}

.communities {
    list-style-image: url(./img/community.png);
}

.settings {
    list-style-image: url(./img/settings.png);
}

.support {
    list-style-image: url(./img/help.png);
}

.privacy {
    list-style-image: url(./img/insurance.png);
}



